$dark: #2d2d2d;
$light: #bfbfbf;
$spacing: 1.5rem;

body, select, button, input {
	background-color: $dark;
	color: $light;
	font-size: 16px;
}

a {
	color: $light;
	text-decoration: none;
}

img {
	display: block;
}

ul {
	list-style: none;
	padding: $spacing $spacing * 2;
}

li {
	margin-bottom: $spacing / 2;
}

body {
	margin: 0;
	font-family: sans-serif;

	&.modal-open {
		overflow: hidden;
	}
}

select, input {
	padding: $spacing / 2;
}

label {
	font-size: 110%;
	font-weight: bold;
	display: block;
}

button[disabled] {
	opacity: .2;
	cursor: unset;
}

.app-bar {
	display: flex;
	padding: $spacing;

	> div {
		flex-grow: 1;

		:first-of-type, :last-of-type {
			flex-grow: 0;
		}
	}

	.index {
		text-align: center;
	}

	.next {
		text-align: left;
	}

	.previous, .about {
		text-align: right;
	}
}

button {
	padding: $spacing;
	border: none;
	cursor: pointer;
}

#media-container {
	gap: 0;

	&.grid {
		display: grid;
	}

	&.square {
		a > div {
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}

		img {
			aspect-ratio: 1 / 1;
		}
	}

	img {
		width: 100%;
	}

	// Needed to style an outer div to prevent a gap
	div.video {
		overflow: hidden;
		aspect-ratio: 1 / 1;
	}

	video {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

.input-grid {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));

	// This is to center-align an uneven last column
	#settings-form & > *:last-child:nth-child(2n - 1) {
		grid-column-end: -2;
		transform: translateX(calc(-50% - 0.375rem));
	}
}

.gap {
	gap: $spacing / 2;
}

#modal-overlay {
	background-color: $dark;
	opacity: 0.85;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.border {
	border: 2px solid darken($light, 25);
}

#modal {
	background-color: #27272A;
	padding: $spacing;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 5px darken($light, 30);
	border-radius: 3px;
	min-width: 320px;

	label {
		margin-bottom: $spacing / 2;
	}

	.form-input-label {
		margin-bottom: $spacing;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
